body{
	overflow: hidden;
}

svg{
	width: 540px;
	display: flex;
	margin: auto;
}

#tulip:hover{
	transform: translate(0, -50px);
	cursor: pointer;
}

#tulip2:hover{
	transform: translate(0, -50px);
	cursor: pointer;
}

#tulip3:hover{
	transform: translate(0, -50px);
	cursor: pointer;
}