#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#box {
    width: 60vw;
    height: 14vw;
    border: 5px solid;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 6vw;
    text-align: center;
}

.blink{
	animation: blinking 1s linear infinite;
}

@keyframes blinking{
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#menu{
    text-align:center;
}

h2{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    display: inline-block;
    text-align: left;
    color: black;

}


