#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#box {
    width: 60vw;
    height: 14vw;
    border: 3px solid;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 6vw;
    text-align: center;
}

h3{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40vw;
    color: black;
    line-height: 3px;
    text-align: center;
}

a:link{
    text-decoration: none;
}

.mark:hover{
    text-shadow: 0px 2px 300px red;
  filter: dropshadow(color=red, offx=2, offy=2);
}

.exclam:hover{
    text-shadow: 0px 2px 300px red;
    filter: dropshadow(color=red, offx=2, offy=2);
}



