*{
    cursor: url(../../image/period.png), auto;
  }

body{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.5rem;
}

h1{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40vw;
    color: black;
    line-height: 2px;
    text-align: center;
    margin-top: 20vw;
    margin-bottom: 15vw;
}

.stats{
    margin-left: 6vw;
    line-height: 3px;
}

h3{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    
}

.bar1{
    width: 100px;
    height: 10px;
    background-color: red;
  }
  
.bar2{
    width: 100px;
    height: 10px;
    background-color: red;
 }

.bar3{
    width: 20px;
    height: 10px;
    background-color: red;
 }

p{
    border: 4px solid;
    border-radius: 4vw;
    padding: 30px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-right: 3vw;
    
}

button{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 60px;
    color: red;
    border: none;
    background: none;
    cursor: pointer;
}