body {
    background-color: #F9EDD7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#clock {
    width: 650px;
    height: 635px;
    border: 1.4px solid #311717;
    border-radius: 50%;
    position: relative;
}

.hand {
    position: absolute;
    background: #000;
}

.medium-circle {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    border: 1.4px solid #311717;
    position: absolute;
    top: 20.5%;
    left: 20.5%;
}

.small-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.4px solid #311717;
    position: absolute;
    top: 47.8%;
    left: 47%;
}

#hour {
    width: 5px;
    height: 325px;
    background-color: blue;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: 50% 100%;
    background: transparent;

}

#minute {
    width: 2px;
    height: 325px;
    background-color: red;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: 50% 100%;
    background: transparent;
}

#second {
    width: 3px;
    height: 325px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: 50% 100%;
    background-color: greenyellow;
}

#second h1 {
    color: red;
    width: max-content;
    transform: translate(-50%, -100%);
}

.bigfish {
    width: 190px;
    margin-top: -40px;
    margin-left: -60px;
}

.smallfish {
    width: 165px;
    margin-top: -40px;
    margin-left: -110px;
}

button {
    background-color: #F9EDD7;
    border: none;
    color: rgb(20, 14, 5);
    cursor: pointer;
    font-size: 20px;
}