*{
    cursor: url(../../image/period.png), auto;
  }

body{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.5rem;
}

h1{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 28vw;
    color: black;
    line-height: 2px;
    text-align: center;
    margin-top: 13vw;
    margin-bottom: 13vw;
    animation: bounce 1.8s infinite; 
}

@keyframes bounce {
    0% {
        transform: translateY(0); 
    }
    10% {
        transform: translateY(-32px); 
    }

    20% {
        transform: translateY(5px); 
    }

    28% {
        transform: translateY(-7px); 
    }

    40% {
        transform: translateY(0); 
    }

    100% {
        transform: translateY(0); 
    }
}

h2{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-align: center;
}

.stats{
    line-height: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    
}

.bar1 {
    width: 250px; /* Adjust as needed */
    height: 10px; /* Adjust as needed */
    position: relative; /* Needed for absolute positioning */
}

.bar1 .fill {
    position: absolute;
    top: 0.26vh;
    left: 0;
    height: 100%;
    background-color: red; /* Adjust as needed */
    width: 102%; /* Adjust as needed */
}

.bar1 .border {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    border: 3px solid red; /* Adjust border styles as needed */
    width: 100%; /* Adjust as needed */
}
  
.bar2{
    width: 250px;
    height: 10px;
    position: relative;
 }

 .bar2 .fill {
    position: absolute;
    top: 0.26vh;
    left: 0;
    height: 100%;
    background-color: red; /* Adjust as needed */
    width: 10%; /* Adjust as needed */
}

.bar2 .border {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    border: 3px solid red; /* Adjust border styles as needed */
    width: 100%; /* Adjust as needed */
}

.bar3{
    width: 250px;
    height: 10px;
    position: relative;
 }

 .bar3 .fill {
    position: absolute;
    top: 0.27vh;
    left: 0;
    height: 100%;
    background-color: red; /* Adjust as needed */
    width: 20%; /* Adjust as needed */
}

.bar3 .border {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    border: 3px solid red; /* Adjust border styles as needed */
    width: 100%; /* Adjust as needed */
}

p{
    border: 4px solid;
    border-radius: 4vw;
    padding: 30px;
    height: 79vh;
    overflow: scroll;
}

.red{
    color: red;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;

}

#grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    
}

button{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1em;
    color: red;
    border: none;
    background: none;
    cursor: pointer;
}